.card {
  max-width: 540px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .name {
    margin-bottom: 1rem;
    h5 {
      margin-bottom: 0;
    }
  }

  .modal-dialog {
    .modal-body {
      height: 320px;
    }
  }
}
